{{#partial "content"}}
    <div class="page">
        <h2 class="text-center">Non Endangered Animals</h2>
        {{#if animals}}
            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Type</th>
                    </tr>
                    </thead>
                    {{#each animals }}
                        <tbody>
                        <tr>
                            <td>{{ id }}</td>
                            <td>{{ name }}</td>
                            <td>{{ type }}</td>
                        </tr>
                        </tbody>
                    {{/each}}
                </table>
            </div>
        {{else}}
                <p>No animal has been recorded. Please add an animal inside the forest.</p>
                <a href="/animal/form">Add animal</a>
    </div>
        {{/if}}
{{/partial}}
{{> layout.hbs}}