{{#partial "content"}}
    <div class="page">
        <h2 class="text-center">Non Endangered Animals</h2>
        {{#if animals}}
            <div class="card" style="">
                <h3 class="text-center" id="hero-title" style="color:red;">Reported Animals:</h3>
            <div class="card p-4 mt-4">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type</th>
                </tr>
        {{#each animals }}
            <tr>
                <td>{{ id }}</td>
                <td>{{ name }}</td>
                <td>{{ type }}</td>
            </tr>


        {{/each}}
        </table>
        {{/if}}
            </div>
            <label>  <a href="/animals/form"><b style="color:red;">Add Another Animal</b></a></label>
        {{else}}
                <p>Hey!!Ranger no animal Added</p>
                <a href="/animals/form">Add animal</a>
    </div>
    </div>
{{/partial}}
{{> layout.hbs}}