

<div class="view" style="background-image: url('/images/jaguar2.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light align-items-center">
        <!-- Content -->
        <div class="container">
            <!--Grid row-->
            <div class="indexRow">
                <!--Grid column-->
                <div class="col-md-12 mb-4 white-text text-center">
                    <h1 class="h3-reponsive text-warning text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 animated wobble"><strong>Add Animal:  </strong></h1>
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-4">
                                <div class="content">
                                    <h3 class="text-center">Add Animal</h3>
                                    <form action="/animals" method="post">
                                        <div class="form-group">
                                            <label for="name">Name:</label>
                                            <input type="text" id="name" name="name" class="form-control transparentInputFields">
                                        </div>
                                        <button class="btn btn-info " type="submit" name="add-animal">Add</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Content -->
    </div>
</div>
