{{#partial "content"}}
    <div class="card p-4 mt-4">
        <h2 class="text-center">Hey Ranger!!!</h2>
        <p>Animal added Successifully</p>
        <a href="/animals">View  all animals</a>
    </div>
{{/partial}}

{{> layout.hbs}}