{{#partial "content"}}
    <div class="page">
        <h2 class="text-center">Non Endangered Animals</h2>
        {{#if nonEndangeredAnimal}}
            <div class="card">
                <h3 class="text-center" id="hero-title" style="color:red;">Available Animals:</h3>
                <div class="text-center">

        {{#each nonEndangeredAnimal }}
                <p>AnimalId:{{ id }}</p>
                <p>AnimalName:{{ name }}</p>
                <p>Animal Type:{{ type }}</p>
        {{/each}}
                </div>
            </div>
        {{else}}
                <p>Hey!!Ranger no animal Added</p>
                <a href="/animal/form">Add animal</a>
    </div>
        {{/if}}
{{/partial}}
{{> layout.hbs}}