{{#partial "content"}}
                <h1 class="h1-reponsive text-warning text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 animate shake"><strong> Wildlife Tracker<i class="fas fa-satellite-dish animate rotateIn infinite"></i></strong></h1>
                <div class="container">
                    <div class="row py-5">
                        <div class="col-md-12 text-center">
                                <div class="row">
                                    <div class="col align-self-start">
                                        <div class="card">
                                            <div class="view overlay">
                                                <img class="card-img-top" src="/images/impala.jpg" alt="Card image cap">
                                            </div>
                                            <div class="card-body">
                                                <a class="activator waves-effect waves-light mr-4"><i class="fas fa-share-alt"></i></a>
                                                <h4 class="card-title">Animals </h4>
                                                <hr>
                                                <h3 class="card-text text-warning">Add Animal to Regular animals</h3>
                                                <a href="/animals/new" onclick="firstClick()"  class="white-text d-flex justify-content-end"><h5>Add Animal <i class="fas fa-angle-double-right"></i></h5></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col align-self-center">
                                        <div class="card">
                                            <div class="view overlay">
                                                <img class="card-img-top" src="/images/wildcat.jpg" alt="Card image cap">
                                            </div>
                                            <div class="card-body">
                                                <a class="activator waves-effect waves-light mr-4"><i class="fas fa-share-alt"></i></a>
                                                <h4 class="card-title">Endangered Animals</h4>
                                                <hr>
                                                <h3 class="card-text text-warning">Add Endangered animal</h3>
                                                <a href="/endangered/new" onClick="secondClick()" class="white-text d-flex justify-content-end"><h5>Add Endangered <i class="fas fa-angle-double-right"></i></h5></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col align-self-end">
                                        <div class="col align-self-center">
                                            <div class="card">
                                                <div class="view overlay">
                                                    <img class="card-img-top" src="images/best-binoculars-for-the-money.jpg" alt="Card image cap">
                                                </div>
                                                <div class="card-body">
                                                    <a class="activator waves-effect waves-light mr-4"><i class="fas fa-share-alt"></i></a>
                                                    <h4 class="card-title">Sightings</h4>
                                                    <hr>
                                                    <h3 class="card-text text-warning">Report a sighting</h3>
                                                    <a href="/sightings/new" onClick="thirdClick()" class="white-text d-flex justify-content-end"><h5> Record  Sighting <i class="fas fa-angle-double-right"></i></h5></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>

                </div>
{{/partial}}

{{>layout.hbs}}