
<link rel='stylesheet' href='/app.css'>
{{#block "header"}}

    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link type="text/css" rel="stylesheet" href="/css/main.css">
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <title>{{#block "title"}}Wildlife-Tracker{{/block}}</title>
    </head>
    <body>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <div class="container">
        <a class="navbar-brand" href="/"><strong>Wildlife Tracker</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/animals">Animals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sightings">Sightings</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="view" style="background-image: url('https://wallpaperplay.com/walls/full/7/9/c/86517.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="container">
        <!--begin main template-->
        <div class="page-header" style="display:flex; ">
            <h1 style="color:white;">WILDLIFE_TRACKER. <small>Protect,Care And Save WildLife Animals</small></h1>
        </div>

        {{#block "content"}}
        {{/block}}
    </div>
    <!--end main template-->
{{#block "footer"}}

{{/block}}
    </body>
    </html>
{{/block}}