<!DOCTYPE html>
<html>
<head>
    <title>Wildlife Tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
    <div class="welcome">
        <div class="navbar">
            <div class="navbody">
                <ul>
                    <li><a class="a" href="/">Home</a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Non Endangered Animals <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a class="dplinks" href="/animals"  style="color:green; background-color:black ;">View Animals</a></li>
                            <li><a class="dplinks" href="/animal/form"  style="color:black; background-color:white ;">Add Animal</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Endangered Animals <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a class="dplinks" href="/endangered"  style="color:black; background-color:white ;">View Animals</a></li>
                            <li><a class="dplinks" href="/endangered/form"  style="color:black; background-color:white ;">Add Animal</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Sighting<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li ><a class="dplinks" href="/sightings"  style="color:white; background-color:green ;">View Sighting</a></li>
                            <li ><a class="dplinks" href="/sightings/form"  style="color:white; background-color:green ;">Add Sighting</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-12">
            {{#block "content"}}
            {{/block}}
        </div>
    </div>
</div>>
{{#block "footer"}}
    <footer class="footer">
    </footer>
    </body>
    </html>
{{/block}}