{{#partial "content"}}
    <div class="pages">
        <h2 class="text-center">Sightings</h2>

            <h2 class="text-center"><b><i>Reported Sightings </i></b></h2>
         {{#if sightings}}
            <div class="card" style="">
                <h3 class="text-center" id="hero-title" style="color:red;">CURRENT SIGHTINGS:</h3>
                <div class="card p-4 mt-4">
            <table>
                <tr>
                    <th>ANIMAL ID</th>
                    <th>LOCATION</th>
                    <th>RANGER NAME</th>
                    <th>VIEW TIME</th>
                </tr>
                {{#each sightings }}
                    <tr>
                            <td> {{ animal_Id }}</td>
                            <td> {{ location }}</td>
                            <td> {{ ranger_name }}</td>
                            <td> {{view_time }} </td>
                   </tr>
                {{/each}}
            </table>
                    {{/if}}

                </div>
            </div>

            <p>Hey Ranger!!!!! No sightings Available for now</p>
            <a href="/sightings/form"  class="">Add sightings</a>
        </div>

{{/partial}}
{{> layout.hbs}}