{{#partial "content"}}
    <div class="pages">
        <h2 class="text-center">Hey Ranger</h2>
        <p>The sighting has been successfully added!!!</p>
        <a href="/sightings" class="">View the sightings</a>
    </div>
{{/partial}}

{{> layout.hbs}}