{{#partial "content"}}
<div class="view" style="background-image: url('/images/zebras.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="mask rgba-black-light align-items-center">
        <div class="container">
            <div class="indexRow">
                <div class="col-md-12 mb-4 white-text text-center">
                    <h3 class="text-warning text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 animated wobble"><strong> Sightings: </strong></h3>
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a href="/sightings/new"><button type="button" class="btn btn-info">Add Sighting</button></a>
                            <h3>All Sightings:</h3>
                            #foreach($sighting in $sightings)
                            <h3><a href="/animals/$sighting.getAnimalId()">$Animal.find($sighting.getAnimalId()).getName()</a></h3>
                            <p><em>$sighting.getTimeSeen()</em></p>
                            <p>
                                Location: $sighting.getLocation(), Ranger: $sighting.getRangerName()
                                <a href="/sightings/$sighting.getId()/edit" class="edit"> [edit]</a>
                                <a href="/sightings/$sighting.getId()/delete" class="delete"> [delete]</a>
                            </p>
                            #end
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/partial}}
{{> layout.hbs}}