{{#partial "content"}}
    <div class="pages">
        <h2 class="text-center">Sightings</h2>

            <h2 class="text-center"><b><i>Current Sightings</i></b></h2>
                <div class="card">
                    {{#if sightings}}
                        {{#each sightings }}
                            <p> Animal Id: {{ animal_Id }}</p>
                            <p>Location: {{ location }}</p>
                            <p>Ranger Name: {{ ranger_name }}</p>
                            <p> ViewTime{{view_time }}</p>
                        {{/each}}
                    {{/if}}

                </div>
            </div>

            <p>Hey Ranger!!!!! No sightings Available for now</p>
            <a href="/sightings/form"  class="">Add sightings</a>
        </div>

{{/partial}}
{{> layout.hbs}}